* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
}

$background: #ffffff;
$header: #060606cc;
$guitar: #ee04ff;
$cello: #bbc80b;
$vocals: #3fe2d3;
$border: #5dcef8;
$bottomDiv: rgb(77, 68, 68);

.footerDiv {
  position: absolute;
  width: 100%;
  background-color: $bottomDiv;
  opacity: 0.6;
  line-height: 1rem;
  bottom: 0px;
  z-index: 1;

  color: $background;
  padding-top: 5px;
}
.body_color {
  background: rgb(97, 23, 66);
  background: linear-gradient(
    80deg,
    rgba(97, 23, 66, 1) 0%,
    rgba(245, 9, 71, 1) 100%,
    rgba(255, 255, 255, 1) 100%
  );
  width: 100%;
  height: 100vh;
}

// //fonts awesome
.fontAwesome {
  color: $background;
  position: absolute;

  left: 0rem;
  top: 0;

  border-radius: 50px;
  background-color: $header;
}

//form

.root-container {
  height: 80%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 0;
}

//sigin and signup boxes in login form
.box-controller {
  display: flex;
  align-items: center;

  margin-right: auto;
  width: 60%;
  margin-left: auto;
  height: 24px;

  background-color: #220e1a;
  border-radius: 5px;
  color: whitesmoke;
}

.controller {
  flex: 1;
  text-align: center;
  padding-top: 22px;

  line-height: 2;
  cursor: pointer;
}

//Currently Selected Controller
.selected-controller {
  transition: border 0.5s ease-out;
  border-bottom: 2px solid #a81044;
}

// .box-container {
//   display: flex;
//   flex-direction: column;
//   max-width: 24em;
//   min-width: 21em;
//   box-shadow: 0px 0px 20px 0px rgba(15, 15, 15, 0.2);
//   border-radius: 6px;
//   padding: 24px;
// }

//login input fields
.MuiFilledInput-input {
  padding: 4px !important;
  border-radius: 25px !important;
}
